@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
/*font-family: "Playfair Display SC", serif;*/

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

.container{
    text-align: center;
    margin: 0 auto;
}

h1{
    color: white;
    font-family: "Playfair Display SC", serif;
    font-size: 3rem;
}

p{
    color: white;
    max-width: 700px;
    letter-spacing: 2px;
    line-height: 22px;
    margin-bottom: 40px;
}

button{
    padding: 0;
    margin: 0;
    color: white;
    border: transparent;
    background: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

div.cursor{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: yellow;
    transform: translate(-50%,-50%);
}
